
 

<h3>Sign In</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
 
  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="email" formControlName="email" placeholder="Enter email">
  </div>
 
  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password"
    placeholder="Password">
  </div>
 
  <button class="button" type="submit">Sign In</button>
 
</form>

 <p>Not registered?</p>
  <button class="button" type="submit">Sign Up</button>