<h2>Start tasks</h2>

   <!--
     <div *ngFor="let product of products; index as productId">
	<h3>
  property binding [ ] lets you use the property value in a template expression.mouse on the link will show the expression, not useful in phone expression
		<a [title]="product.name+' details'" [routerLink]="['/products', productId]">
			{{ product.name }}
		</a>
	</h3>
	<p *ngIf="product.description">
		Description: {{product.description}}</p>

	<button (click)="share()">
    share
    </button>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
</div>
-->
<div *ngIf="afAuth.user | async as user; else showLogin2">
<ul>
    <li *ngFor="let item of items | async">
       {{ item | json }}
    </li>
  </ul>
</div>

 <ng-template #showLogin2>
      <!-- <a [routerLink]="['/login']" class="button fancy-button"><i class="material-icons">account_circle</i>Sign In</a> -->
      <button (click)="login()">Login</button>
    </ng-template>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->